---
BasedOnStyle: LLVM
AlwaysBreakTemplateDeclarations: true
AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: Always
AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
BinPackParameters: false
BreakBeforeBraces: Stroustrup
ColumnLimit: 120
PenaltyBreakAssignment: 50
PenaltyBreakBeforeFirstCallParameter: 10
PointerAlignment: Left
SortIncludes: true
